beVerbose: 1
debug: 1
server: 127.0.0.1
port: 8888
#user: USERNAME
#group: GROUP
#pw: PASSWORD
#dbName: test_us_marc
charset: UTF-8
authenticationMode: basic
#targetImplementationName: ANYTHING_YOU_WANT
sru: soap
#sru: get
#sru: post
#sru: solr
sruVersion: 1.1
init_opt_search: Karel

# See http://www.indexdata.com/yaz/doc/zoom.records.html
#recordFormat: database
#recordFormat: syntax
#recordFormat: schema
recordFormat: render
#recordFormat: raw
#recordFormat: xml
#recordFormat: opac
#recordFormat: txml
#recordFormat: json
recordCharsetFrom: iso-8859-2
#recordCharsetInto: iso-8859-2
#opacFrom: utf-8
