#serverImplementationVersion: "26.10.00"
#implementationVersion: "1.5"
implementationName: "Koha Z3950 Update"

fileToTest: capek.marc
#fileToTest: capek.marcxchange
#fileToTest: capek.marcxml
#fileToTest: capek.turbomarc
#fileToTest: capek.linemarc


#recordUpdateAction: recordInsert
recordUpdateAction: recordReplace

packageName: Karel Čapek - nový
packageFunction: create

#recordIdOpaque: new
#recordIdNumber: new

syntax: USMARC

#correlationInfoNote: "5318008"
#correlationInfoId: 5318008

#elementSetName: Karel Čapek

#updateVersion: "1.06"

beVerbose: 1
debug: 1
server: 127.0.0.1
port: 8888
#user: USERNAME
#group: GROUP
#pw: PASSWORD
#dbName: test_us_marc

# Important is not to use charset as it is a problematic while communicating with older Z39.50 Servers
#charset: UTF-8
authenticationMode: basic
#targetImplementationName: bandaska
#sru: soap
#sru: post
sru: get
#sru: solr
#sruVersion: 1.1 
